body{
	/*height: 3000px;*/
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: 0 -100px;
}

header nav{
	width: 100%;
	height:60px;
	background: rgba(0,0,0,0.7);
	position: fixed;
	z-index: 9;
}
    

header nav .title{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	/*background: pink;*/
}
header nav .title .logo{
	width: 200px;
	height: 60px;
	/*background: green;*/
	float: left;
	color: rgb(255,255,255);
	font-size: 16px;
	font-weight: bold;
	line-height: 60px;
	font-family: "微软雅黑";
}
header nav .title .nav{
	width: 385px;
	height: 60px;
/*	background: blue;*/
	float: right;
}
header nav .title ul li{
	width: 77px;
	height: 60px;
	/*background: #4eb2d6;*/
	float: left;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	transition: background 0.5s;
}
header nav .title ul li:hover{
	background: #4eb2d6;
}
header .content{
	width: 100%;
	height: 700px;
	background: rgba(0,0,0,0.5);
	border-top: 1px solid black; 
}
header .content img{
	display: block;
	margin: 120px auto 0;
	
}
header .content h3{
	width: 1050px;
	margin: 20px auto 0;
	color: white;
	font-size: 50px;
	line-height: 1.5em;
	text-align: center;
	font-family: "方正清刻本悦宋简体"
}
header .content p{
	width: 1050px;
	margin: 10px auto 0;
	/*background: red;*/
	color: white;
	/*font-weight: bold;*/
	font-size: 30px;
	/*line-height: 1.5em;*/
	text-align: center;
	font-family: "方正清刻本悦宋简体"
}
header .content span{
	width: 1050px;
	display: block;
	margin: 10px auto 0;
	/*background: red;*/
	color: white;
	/*font-weight: bold;*/
	font-size: 35px;
	/*line-height: 1.5em;*/
	text-align: center;
	font-family: "方正清刻本悦宋简体"
}
header .content .btn{
	width: 245px;
	height: 62px;
	border: 1px solid white;
	margin: 30px auto 0;
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	border-radius: 15px;/*圆角*/
	cursor: pointer;
	transition:background 1s;
}
header .content .btn:hover{
	background: #4eb2d6;
}
header .content .icon img{
	
	margin: 20px auto 0;
	display: block;
	

	/*width: 0;
	height: 0;
	margin: 20px auto 0;
	border-top:40px solid white;
	border-bottom: 0;
	border-left: 40px solid transparent; 
	border-right: 40px solid transparent;*/ 
	/*动画*/
	animation: move 1s infinite;
}
@keyframes move{
	0%{
		margin-top: 20px;
	}
	50%{
		margin-top: 60px;
	}
	100%{
		margin-top: 20px;
	}
}
.about-box{
	width: 100%;
	background: #2c3138;
	padding-top:100px; 
	
}

.about-box .biao-ti{
	/*background: red;*/
	width: 648px;
	border-bottom: 2px solid white;
	height: 40px;
	margin: 0 auto;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	padding-bottom: 30px;

}
.about-box .jian-jie{
	width: 1100px;
	
	margin: 20px auto 30px;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 1.6em;
}
.about-box .line{
	width: 100%;
	overflow: hidden;
	
}
.about-box .line .content1{
	width: 45%;
	position: relative;
	float: left;
	font-size: 0;
}
.about-box .line .content1 img{
	width: 100%;
}

.about-box .line .content1 .mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;top: 0;
	
}
.about-box .line .content1 .mask p{
	width: 70%;
	margin: 120px auto 0;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.about-box .line .content2{
	width: 55%;
	float: left;
}
.about-box .line .content2 .graduation{
	width: 70%;
	color: white;
	margin-top: 90px;
	margin-left: 45px;
	/*margin: 90px auto 0;*/
}
.about-box .line .content2 .graduation h3{
	font-size: 30px;
	margin-bottom: 20px;
}
.about-box .line .content2 .graduation p{
	font-size: 18px;
	line-height: 1.8em;
}
.about-box .line .content3{
	width: 45%;
	position: relative;
	float: left;
	
}
.about-box .line .content3 .graduation{
	width: 70%;
	color: white;
	margin-top: 90px;
	margin-left: 45px;
	/*margin: 90px auto 0;*/
}
.about-box .line .content3 .graduation h3{
	font-size: 30px;
	margin-bottom: 20px;
}
.about-box .line .content3 .graduation p{
	font-size: 18px;
	line-height: 1.5em;
}
.about-box .line .content4{
	width: 55%;
	float: left;
	font-size: 0;
	position: relative;
	
}
.about-box .line .content4 img{
	width: 100%;
}

.about-box .line .content4 .mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;top: 0;
	
}
.about-box .line .content4 .mask p{
	width: 70%;
	margin: 160px auto 0;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
}


.skill-box{
	width: 100%;
	background: rgba(60,70,80,0.8);
	padding-top:100px; 
	padding-bottom:100px;
	 
}
.skill-box h3{
	/*background: red;*/
	width: 648px;
	border-bottom: 2px solid white;
	height: 40px;
	margin: 0 auto ;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	padding-bottom: 30px;

}
.skill-box p{
	width: 1100px;
	font-size: ;
	margin: 20px auto 0;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 1.6em;
}
.skill-box ul{
	width: 1100px;
	margin: 20px auto 0;
	overflow: hidden;

}
.skill-box ul li{
	width: 154px;
	height: 195px;
	/*background: red;*/
	float: left;
	margin-right: 35px;
	text-align: center;
	display:block;

}
.skill-box ul .last{
	margin-right: 0px;
}
.skill-box ul li div{
	width: 120px;
	height: 120px;
	border: 15px solid #2f353d;
	margin: 0 auto;
	border-radius: 50%;  
	color: white;
	text-align: center;
	line-height: 120px;

}
.skill-box ul li span{
	/*font-weight: bold;*/
	display: block;
	color: white;
	font-size: 20px;
	margin: 10px;
	

}
.skill-box ul li div b{
	font-size: 60px;
	font-weight: bold;
}
.skill-box ul li div i{
	font-size: 16px;
}
.skill-box ul li div:hover{
	transition:transform 1s;
	transform:rotateY(360deg);
}
.skill-box ul li:nth-child(1) div{
	background: #88c14c;
}
.skill-box ul li:nth-child(2) div{
	background: #efa330;
}
.skill-box ul li:nth-child(3) div{
	background: #4eb2d6;
}
.skill-box ul li:nth-child(4) div{
	background: #efa330;
}
.skill-box ul li:nth-child(5) div{
	background: #ed6c44;
}
.skill-box ul li:nth-child(6) div{
	background: #4eb2d6;
}
.works-box{
	width: 100%;
	background: rgba(0,0,0,0.5);
	padding-top:100px; 
	padding-bottom:60px;
	 
}
.works-box h3{
	/*background: red;*/
	width: 648px;
	border-bottom: 2px solid white;
	height: 40px;
	margin: 0 auto ;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	padding-bottom: 30px;

}
.works-box p{
	width: 1100px;
	font-size: ;
	margin: 20px auto 0;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 1.6em;
}
.works-box .tab{
	width: 1070px;
	height: 465px;
	/*background: red;*/
	margin: 10px auto 0;
}
.works-box .tab .anniu-box{
	width: 335px;
	height: 40px;
	/*background: green;*/
	margin: 0 auto;
}
.works-box .tab .anniu-box .anniu{
	width: 78px;
	height: 38px;
	border: 1px solid white;
	color: white;
	text-align: center;
	line-height: 36px;
	font-size: 20px;
	border-radius: 4px;
	float: left;
	margin-right: 5px;

}
.works-box .tab .anniu-box .anniu:nth-child(4){
	margin-right: 0;
}
.works-box .tab .content-box{
	width: 1070px;
	height: 400px;
	/*background: yellow;*/
	margin-top: 25px;

}
.works-box .tab .content-box ul{
	width: 1070px;
	height: 400px;
	/*background: green;*/
} 
.works-box .tab .content-box ul li{
	width: 260px;
	height: 195px;
	background: black;
	float: left;
	overflow: hidden;
	
}
.works-box .tab .content-box ul:nth-child(2){
	display: none;
}
.works-box .tab .content-box ul:nth-child(3){
	display: none;
}
.works-box .tab .content-box ul:nth-child(4){
	display: none;
}
.works-box .tab .content-box ul li:nth-child(1){
	margin: 0 10px 10px 0;
	
}
.works-box .tab .content-box ul li:nth-child(2){
	margin: 0 10px 10px 0;
}
.works-box .tab .content-box ul li:nth-child(3){
	margin: 0 10px 10px 0;
}
.works-box .tab .content-box ul li:nth-child(4){
	margin: 0 0 10px 0;
}

.works-box .tab .content-box ul li:nth-child(5){
	margin: 0 10px 0 0;
}
.works-box .tab .content-box ul li:nth-child(6){
	margin: 0 10px 0 0;
}
.works-box .tab .content-box ul li:nth-child(7){
	margin: 0 10px 0 0;
}
.works-box .tab .content-box ul li img{
	transition: transform 1s;
}
.works-box .tab .content-box ul li img:hover{
	transform: scale(1.2);
}

/*页底*/
footer{
	width: 100%;
	padding: 30px 0;
}
footer h3{
	width: 630px;
	height: 100px;
	/*background: red;*/
	margin: 0 auto;
}
footer h3 span{
	float: left;
	width: 210px;
	border-bottom: 1px solid white;
}
footer h3 .line-through{
	margin-top: 45px;
}
footer h3 .title{
	margin-top: 16px;
	font-size: 36px;
	text-align: center;
	border: 0;
	color: white;
}
footer p{
	font-size: 20pt;
	line-height: 1.5em;
	text-align: center;
	color: white;
	
}
.backtop img{
	/*width: 50px;
	height: 50px;
	background: red;*/
	position: fixed;
	right: 50px;
	bottom: 50px;

}